body { 
    background: url('images/star-ship.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Play', sans-serif;
  }
h1 {
    font-family: 'Play', sans-serif;
}
.clear {
    opacity: 0.9;
  }
  .form-control::-webkit-input-placeholder {
      opacity: 0.4;
  }
.card-color {
    background-color: #4f5f77;
  }
.header-font {
    font-size: 25px;
}
#th-font {
    font-size: 18px;
}
.rounded-corners {
    border-radius: 5px;
}
/* #5e6877 - alternative background color*/
.jumbotron {
    margin-bottom: 0rem;
}
.card {
    height: 475px !important;
}
.schedules-block {
    overflow: auto;
}
@media only screen and (max-width: 1199px) {
    #th-font {
        font-size: 14px;
    }
    tr {
        font-size: 12px;
    }
}
@media only screen and (max-width: 991px) {
    #th-font {
        font-size: 9px;
    }
    tr {
        font-size: 9px;
    }
}
@media only screen and (max-width: 767px) {
    .form-block {
        margin-top: 25px;
    }
    #th-font {
        font-size: 14px;
    }
    tr {
        font-size: 14px;
    }
}
@media only screen and (max-width: 468px) {
    #th-font {
        font-size: 11px;
    }
    tr {
        font-size: 11px;
    }
}


@media only screen and (max-width: 400px) {
    body { 
        background: url('images/star-ship.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
        
      }
      h1 {
         font-size: 36px;
      }
      .header-font {
          font-size: 16px;
      }
      #th-font {
          font-size: 11px;
      }
      #ship-board {
          font-size: 11px;
      }
}
