body { 
    background: url('images/star-ship.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Play', sans-serif;
    
  }
  /* @font-face {
    font-family: StarFont;
    src: url("star.ttf");
} */
h1 {
    font-family: 'Play', sans-serif;
}
.clear {
    opacity: 0.9;
  }
  .form-control::-webkit-input-placeholder {
      opacity: 0.4;
  }
.card-color {
    background-color: #4f5f77;
  }
.header-font {
    font-size: 25px;
}
#th-font {
    font-size: 18px;
}
.rounded-corners {
    border-radius: 5px;
}
/* #5e6877 - alternative background color*/
.jumbotron {
    margin-bottom: 0rem;
}




@media only screen and (max-width: 400px) {
    body { 
        background: url('images/star-ship.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
        
      }
      h1 {
         font-size: 36px;
      }
      .header-font {
          font-size: 16px;
      }
      #th-font {
          font-size: 9px;
      }
      #ship-board {
          font-size: 10px;
      }
}